@charset "utf-8";
@import "nib"
@import "_bass/variables"

global-reset()

input, button
  margin: 0
  padding: 0
  &::-moz-focus-inner
    border: 0
    padding: 0

@font-face
  font-family: FontAwesome
  font-style: normal
  font-weight: normal
  src: url(font-icon-path + ".eot?v=#" + font-icon-version)
  src: url(font-icon-path + ".eot?#iefix&v=#" + font-icon-version) format("embedded-opentype"),
       url(font-icon-path + ".woff?v=#" + font-icon-version) format("woff"),
       url(font-icon-path + ".ttf?v=#" + font-icon-version) format("truetype"),
       url(font-icon-path + ".svg#fontawesomeregular?v=#" + font-icon-version) format("svg")

body
  background: color-background
  color: color-default
  font: font-size font-sans
  text-rendering: optimizelegibility
  -webkit-text-size-adjust: 100%
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

@import "_bass/bass"
@import "_bass/syntax"
@import "_partial/header"
@import "_partial/article"
@import "_partial/article-gallery"
@import "_partial/article-nav"
@import "_partial/archive"
@import "_partial/footer"
@import "_partial/rwd"



// ここで試す
/*シェアボタン*/
.share-flat{
    margin-bottom: 10px;
    text-align: center;
}
.share-flat-inner a {
    position: relative;
    display: inline-block;
    width: 18%;
    height: 40px;
    line-height: 20px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}
.share-flat .small-text{
    font-size: 10px;
}
.share-flat .hatena-bookmark-button{
    background: #00A4DE;
}
.share-flat .twitter-button{
    background: #55ACEE;
}
.share-flat .googleplus-button{
    background: #C53727;
}
.share-flat .facebook-button{
    background: #405BA7;
}
.share-flat .pocket-button{
    background: #EE4256;
}
.share-flat a:hover{
    opacity: 0.6;
}

.icon-hatebu
  &:before
    content: "B!"
    font-family: Verdana
    font-weight: bold
    font-style normal
